---
import DefaultLayout from "../layouts/DefaultLayout.astro"
---
<DefaultLayout>
	<h2 class="text-2xl font-semibold mb-4">Portfolio by mikio815</h2>
	<p class="text-gray-600">ここはトップページです</p>
</DefaultLayout>