---
import DefaultLayout from "../layouts/DefaultLayout.astro"
---
<DefaultLayout>
	<section id="about" class="scroll-mt-24">
        <h2 class="text-2xl font-bold mb-4">About</h2>
        <p>ここに内容</p>
    </section>

    <section id="career" class="scroll-mt-24 mt-20">
        <h2 class="text-2xl font-bold mb-4">Career</h2>
        <ul>
            <li>あ</li>
            <li>い</li>
            <li>う</li>
        </ul>
    </section>
</DefaultLayout>