<nav class="flex flex-col h-full p-6 text-black gap-4 text-sm font-md">
    <h1 class="text-xl font-bold mb-4">Portfolio by mikio815</h1>
    <a href="/" class="hover:underline">Home</a>
    <a href="/about" class="hover:underline">About</a>
    <a href="/works" class="hover:underline">Works</a>
    <a href="/contact" class="hover:underline">Contact</a>
</nav>